body{
  margin:0;
  font-family:system-ui;
  background-color:#222;
  display:grid;
  place-content:center;
  min-height:100vh;
}
article{
  display:flex;
  align-items:center;
  font-size: .8rem;
  justify-content:space-between;
  color:#fff


}
article header{
  display:flex;
  align-items:center;
  gap: 4px;
}

.tw-followCard-info{
  display:flex;
  flex-direction:column;


}

article header span{
  opacity:.6;
}
.imagenAvatar{
  width:48px;
  height:48px;
  border-radius:100%;
}
.imagenVerified{
  width:20px;
  height:20px;
  margin-bottom:12px;
  margin-left:0px;
}

.button-class{
  margin-left:16px;
  border:0px;
  border-radius:999px;
  padding:6px 16px;
  font-weight:bold;
  cursor:pointer;
  transition:  background-color .7s  ease ;
}

.button-class:hover {
background-color:#adaeebf1;

}

.app-style{
  display:flex;
  flex-direction:column;
  gap: 16px;
}

.children-class{
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:0.3em;
  opacity:0.3;
}