body{
  margin:0;
  font-family:system-ui;
  background-color:#222;
  display:grid;
  place-content:center;
  min-height:100vh;
}
article{
  display:flex;
  align-items:center;
  font-size: .8rem;
  justify-content:space-between;
  color:#fff


}
article header{
  display:flex;
  align-items:center;
  gap: 4px;
}

.tw-followCard-info{
  display:flex;
  flex-direction:column;


}

article header span{
  opacity:.6;
}
.imagenAvatar{
  width:48px;
  height:48px;
  border-radius:100%;
}
.imagenVerified{
  width:20px;
  height:20px;
  margin-bottom:12px;
  margin-left:0px;
}

.app-style{
  display:flex;
  flex-direction:column;
  gap: 16px;
}

.children-class{
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:0.3em;
  opacity:0.3;
}
.tw-followCard-textFollowing{
display:inline;
width: 130px;
}

.button-class{
  display:flex;
  margin-left:16px;
  border:0px;
  border-radius:999px;
  padding:6px 16px;
  font-weight:bold;
  cursor:pointer;
  transition:  background-color .7s  ease ;
  align-items:center;
  justify-content:center;
}

.button-class:hover {
background-color:#adaeebf1;

}
.button-class.isFollowing{
  background-color:transparent;
  border:1px solid #bbb;
  width:140px;
  color:#fff
  
}

.button-class.isFollowing:hover{
  background-color:#dd8686;
  border:1px solid #d44d4d;
  width:140px;
  
}
.tw-followCard-stopFollow{
  display:none;
  width: 140px;

}


.button-class.isFollowing:hover .tw-followCard-stopFollow{
  display:block;
  width: 140px;
}


.button-class.isFollowing:hover .tw-followCard-textFollowing {
  display:none;
  width: 140px;
}

